.header-container {
  display: grid;
  grid-template-rows: auto;
  /* grid-template-columns: max-content auto max-content; */
  grid-template-areas: "links logo menu";
  column-gap: 20px;
  align-items: center;
  background-color: var(--color-pink);
}

.logo-image-link {
  cursor: pointer;
}
