.logo-spinning {
  max-height: 130px;
}

.spinning-item {
  animation: wheel 20s infinite linear;
  transform-box: fill-box;
  transform-origin: center;
  width: 100px;
}

@keyframes wheel {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.logo-image {
  margin: 35px 0;
}
