{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "color-function-notation": "modern",
    "selector-class-pattern": null,
    "value-keyword-case": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "comment-empty-line-before": null
  }
}
