.container {
    color: var(--color-font);
}

.background__image {
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.6;
}

.auth__form {
    width: 670px;
    height: 715px;
    background-color: var(--color-white);
    position: absolute;
    top: 20%;
    left: 30%;
    box-shadow: #6363634d 0 2px 8px 0;
}

.auth__form form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth__form_signup {
    width: 670px;
    height: 770px;
    background-color: var(--color-white);
    position: absolute;
    top: 20%;
    left: 30%;
    box-shadow: #6363634d 0 2px 8px 0;
}

.auth_form__h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.form_auth__buttons {
    width: 45%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--color-font);
    margin-left: 175px;
}


.form_auth__button:focus {
    border-bottom: 2px solid var(--color-tan);
}

 