.title {
  font-size: 95px;
  font-family: var(--font);
  text-transform: uppercase;
  color: var(--color-font);
  margin-top: 35px;
  text-align: center;
  letter-spacing: 50px;
  font-weight: 500;
  position: absolute;
  width: 100%;
  left: 0;
}
