.menu-list {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 82px;
  color: var(--color-font);
}

.menu-list > span {
  padding: 40px;
  cursor: pointer;
}
