
.signup_success__wrapper {
    display: flex;
    align-items: center;
    width: 670px;
    height: 715px;
    background-color: var(--color-white);
    position: absolute;
    top: 20%;
    left: 30%;
    box-shadow: #6363634d 0 2px 8px 0;
    justify-content: center;
    flex-direction: column;
}

.signup_success__mark {
    font-size: 30px;
    color: #7fe17f;
}

